---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="w-full h-fit">
		<div class="flex flex-col w-full gap-32">
			<img class="w-full" src="" alt="" />
			<img class="w-full" src="" alt="" />
			<img class="w-full" src="" alt="" />
		</div>
		<div class="flex flex-col z-10 items-center">
			<div></div>
			<div></div>
		</div>
		<h2>Bringing the community to life, one dish at a time</h2>
		<div>
			<h3>Make your reservation</h3>
			<ul class="flex flex-col gap-2">
				<li>
					<div class="flex justify-between">
						<p>For how many?</p>
						<input type="number" value="1" />
					</div>
				</li>
				<li>
					<div class="flex justify-between">
						<p>Your name?</p>
						<input type="text" />
					</div>
				</li>
				<li>
					<div class="flex justify-between">
						<p>What time would you prefer?</p>
						<input type="text" />
					</div>
				</li>
				<li>
					<div class="flex justify-between">
						<p>Your phone number?</p>
						<input type="tel" />
					</div>
				</li>
				<li>
					<div class="flex justify-between">
						<p>Your email?</p>
						<input type="email" />
					</div>
				</li>
			</ul>
			<h3>Or give us a call at (555) 123-4567</h3>
		</div>
		<h2>Locally-grown ingredients</h2>
		<div>
			<h3>Order catering up to just a day before</h3>
			<div class="grid grid-cols-2 grid-rows-2">
				<div class="[background-image:url('/img.png')]">
					<h3>1</h3>
				</div>
				<div class="[background-image:url('/img.png')]">
					<h3>2</h3>
				</div>
				<div class="[background-image:url('/img.png')]">
					<h3>3</h3>
				</div>
				<div class="[background-image:url('/img.png')]">
					<h3>Give us a call!</h3>
				</div>
			</div>
		</div>
		<h2>A delicious spin on your favorite meals</h2>
	</main>
</Layout>
