---
import Layout from "../layouts/Layout.astro";
import bgImg1 from "/src/assets/images/bg-img-1.jpg";
import textureImg1 from "/src/assets/images/texture-img-1.jpg";
import bgImg3 from "/src/assets/images/bg-img-3.jpg";
import { Picture } from "@astrojs/image/components";
---

<Layout title="Menu">
  <main
    class="overflow-y-hidden w-full flex justify-around text-white gap-4 p-4 max-lg:flex-col max-sm:text-center"
  >
    <section class="bg-black rounded-lg overflow-hidden">
      <header class="relative p-8 text-center bg-top">
        <div class="absolute left-0 top-0 z-10 w-full h-full brightness-[40%]">
          <Picture
            src={textureImg1}
            widths={[400, 800, 1200]}
            sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w"
            alt=""
            class="absolute w-full h-full left-0 bottom-0 object-cover z-0"
          />
          <div
            class="bg-black w-full h-full absolute opacity-50 left-0 top-0 z-10 pointer-events-none"
          >
          </div>
        </div>
        <h1 class="z-20 relative">Our specialties</h1>
      </header>
      <div class="px-12 py-8 shadow-inner relative h-full">
        <div
          class="[box-shadow:inset_0_1.5rem_3rem_black] absolute w-full h-full left-0 top-0 z-10"
        >
        </div>
        <ul class="flex flex-col gap-12 relative z-10">
          <li>
            <div class="flex flex-col gap-4">
              <h2>Eco-Friendly Bruschetta</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                Grilled bread topped with a mix of fresh tomatoes, garlic, and
                basil, drizzled with a light balsamic reduction.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Sustainable Salad</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A mix of seasonal greens, local vegetables, and a light,
                flavorful dressing made from scratch.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Lentil and Quinoa Bowl</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A hearty and nutritious dish featuring a blend of lentils,
                quinoa, roasted vegetables, and a creative sauce.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Roasted Chicken with a Twist</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A modern take on a classic dish, featuring locally sourced
                chicken, a unique herb rub, and a side of seasonal roasted
                vegetables.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Vegetarian Stir-Fry</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A light and flavorful dish made with a variety of seasonal
              </p>
            </div>
          </li>
        </ul>
        <div class="absolute left-0 top-0 z-0 w-full h-full">
          <Picture
            src={bgImg1}
            widths={[400, 800, 1200, 1800]}
            sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
            alt=""
            class="top-0 left-0 w-full h-full absolute object-cover opacity-30"
          />
        </div>
      </div>
    </section>
    <section class="bg-black rounded-lg overflow-hidden">
      <header class="relative p-8 text-center bg-bottom">
        <h1 class="z-20 relative">Recommended</h1>
        <div class="absolute top-0 left-0 z-0 w-full h-full brightness-[40%]">
          <Picture
            src={textureImg1}
            widths={[400, 800, 1200]}
            sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w"
            alt=""
            class="absolute w-full h-full left-0 top-0 object-cover z-0"
          />
          <div
            class="bg-black w-full h-full absolute opacity-50 left-0 top-0 z-10 pointer-events-none"
          >
          </div>
        </div>
      </header>
      <div class="px-12 py-8 shadow-inner relative h-full">
        <ul class="flex flex-col gap-12 relative z-10">
          <li>
            <div class="flex flex-col gap-4">
              <h2>Eco-Friendly Pizza</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A pizza made with a whole grain crust, locally sourced
                ingredients, and a variety of creative toppings.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Sustainable Fish Tacos</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                Lightly fried fish served in a corn tortilla, topped with a
                fresh, eco-conscious slaw and a drizzle of sustainable aioli.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Grilled Sustainable Steak</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A locally sourced steak, grilled to perfection, served with a
                side of seasonal roasted vegetables.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Hearty Vegetable Stew</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A comforting and nutritious stew made with a variety of seasonal
                vegetables, served with a side of crusty bread.
              </p>
            </div>
          </li>
          <li>
            <div class="flex flex-col gap-4">
              <h2>Desert Duo</h2>
              <p class="text-start opacity-70 max-sm:text-center">
                A plate featuring a combination of locally made, eco-conscious
                treats, such as a small scoop of ice cream and a piece of fruit
                pie.
              </p>
            </div>
          </li>
        </ul>
        <div
          class="[box-shadow:inset_0_1.5rem_3rem_black] absolute w-full h-full left-0 top-0 z-10"
        >
        </div>
        <div class="absolute top-0 left-0 z-0 w-full h-full brightness-[50%]">
          <Picture
            src={bgImg3}
            widths={[400, 800, 1200, 1800]}
            sizes="(max-width: 400px) 400w, (max-width: 800px) 800w, (max-width: 1200px) 1200w, (max-width: 1800px) 1800w"
            alt=""
            class="top-0 left-0 w-full h-full absolute object-cover opacity-30"
          />
        </div>
      </div>
    </section>
  </main>
</Layout>
