---
import Logo from "./Logo.astro";
---

<footer
    class="w-full bg-white text-black fill-black opacity-80 flex-col items-center flex gap-8"
>
    <ul
        class="grid justify-around text-center w-full p-4 grid-cols-4 grid-rows-1 max-sm:grid-cols-1 max-lg:grid-cols-2 gap-8"
    >
        <li>
            <div class="flex flex-col gap-2">
                <h4>Pages</h4>
                <ul class="flex flex-col gap-2 max-sm:flex-row justify-center">
                    <li>
                        <a
                            class="text-blue-500 [text-shadow:1px_1px_2px_#00000050]"
                            href="/">Home</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-500 [text-shadow:1px_1px_2px_#00000050]"
                            href="/about">About</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-500 [text-shadow:1px_1px_2px_#00000050]"
                            href="/menu">Menu</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="flex flex-col gap-2">
                <h4>Contact</h4>
                <ul class="flex flex-col gap-2">
                    <li>
                        <a
                            class="text-blue-500 [text-shadow:1px_1px_2px_#00000050]"
                            href="tel:+1(555)123-4567">(555) 123-4567</a
                        >
                    </li>
                    <li>1234 Apple St, Carbondale IL</li>
                    <li>
                        <a
                            class="text-blue-500 [text-shadow:1px_1px_2px_#00000050]"
                            href={`mailto:chat@${Astro.url.hostname}`}
                            >chat@{Astro.url.hostname}</a
                        >
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="flex flex-col gap-2">
                <h4>Hours</h4>
                <ul class="flex flex-col gap-2">
                    <li>Monday - Saturday</li>
                    <li>11am - 1am</li>
                    <li>Closed on Sundays</li>
                </ul>
            </div>
        </li>
        <li>
            <div class="flex flex-col gap-2">
                <h4>Socials</h4>
                <ul
                    class="flex flex-col gap-2 items-center max-lg:flex-row justify-center max-lg:gap-6"
                >
                    <li>
                        <svg
                            viewBox="0 0 66 66"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="hover:scale-110 transition-all duration-200 cursor-pointer"
                        >
                            <g opacity="0.7" clip-path="url(#clip0_13_151)">
                                <path
                                    d="M23.5933 12.7366C23.5933 12.3252 23.6504 11.4366 23.7647 10.0767C23.8875 8.71391 24.4018 7.28826 25.3246 5.79118C26.2389 4.29981 27.7217 2.95987 29.7844 1.77421C31.8386 0.59426 34.8071 0 38.6812 0H49.595V11.8938H41.6039C40.8125 11.8938 40.0754 12.1909 39.4097 12.7766C38.7497 13.3623 38.4098 13.9194 38.4098 14.4365V21.8362H49.5921C49.475 23.2847 49.3464 24.6932 49.1979 26.0532L48.755 29.6473C48.5779 30.8615 48.3979 31.9872 48.2208 33.0243H38.3298V66H23.5933V33.0214H16.405V21.8362H23.5933V12.7366Z"
                                    fill="black"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_13_151">
                                    <rect width="66" height="66" fill="white"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </li>
                    <li>
                        <svg
                            viewBox="0 0 66 66"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="hover:scale-110 transition-all duration-200 cursor-pointer"
                        >
                            <g opacity="0.7" clip-path="url(#clip0_16_179)">
                                <path
                                    d="M2.14321 63.1445H10.7233C11.907 63.1445 12.8665 62.1849 12.8665 61.0011V23.4977C12.8665 22.3138 11.907 21.3545 10.7233 21.3545H2.14321C0.959368 21.3545 0 22.3138 0 23.4977V61.0011C0 62.1847 0.959368 63.1445 2.14321 63.1445Z"
                                    fill="black"></path>
                                <path
                                    d="M2.14321 14.7611H10.7233C11.907 14.7611 12.8665 13.8017 12.8665 12.6179V4.99875C12.8665 3.81503 11.907 2.85555 10.7233 2.85555H2.14321C0.959368 2.85555 0 3.81503 0 4.99875V12.6179C0 13.8017 0.959368 14.7611 2.14321 14.7611Z"
                                    fill="black"></path>
                                <path
                                    d="M62.7717 25.7044C61.566 24.1174 59.7882 22.8122 57.4375 21.7892C55.0867 20.7669 52.492 20.2554 49.653 20.2554C43.8899 20.2554 39.0065 22.4548 35.0029 26.8546C34.2063 27.73 33.6271 27.5386 33.6271 26.3548V23.4977C33.6271 22.3138 32.6675 21.3545 31.4838 21.3545H23.8193C22.6355 21.3545 21.6761 22.3138 21.6761 23.4977V61.0011C21.6761 62.1849 22.6356 63.1445 23.8193 63.1445H32.3994C33.5833 63.1445 34.5426 62.1849 34.5426 61.0011V47.9584C34.5426 42.5248 34.8707 38.8004 35.527 36.7858C36.1829 34.7712 37.3967 33.1534 39.1672 31.9324C40.9379 30.7113 42.9371 30.1004 45.1658 30.1004C46.9057 30.1004 48.394 30.5279 49.6305 31.3829C50.8668 32.2378 51.7598 33.4353 52.3093 34.9773C52.859 36.5189 53.1336 39.9149 53.1336 45.1655V61.001C53.1336 62.1848 54.093 63.1444 55.2767 63.1444H63.8568C65.0405 63.1444 65.9999 62.1848 65.9999 61.001V39.7622C65.9999 36.0077 65.7632 33.1228 65.2905 31.1081C64.8178 29.0935 63.9781 27.2923 62.7717 25.7044Z"
                                    fill="black"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_16_179">
                                    <rect width="66" height="66" fill="white"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </li>
                    <li>
                        <svg
                            viewBox="0 0 66 66"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="hover:scale-110 transition-all duration-200 cursor-pointer"
                        >
                            <g opacity="0.7" clip-path="url(#clip0_13_148)">
                                <path
                                    d="M64.5039 12.2181C63.4671 12.678 62.4011 13.0661 61.3119 13.3812C62.6014 11.9228 63.5846 10.2068 64.1848 8.32898C64.3193 7.90807 64.1799 7.44735 63.8339 7.17206C63.4884 6.89657 63.0083 6.86357 62.6278 7.08903C60.3146 8.46098 57.819 9.44693 55.2022 10.0235C52.5662 7.44777 48.9861 5.98193 45.2849 5.98193C37.4725 5.98193 31.1165 12.3377 31.1165 20.15C31.1165 20.7653 31.1554 21.3772 31.2325 21.9805C21.5379 21.1294 12.5251 16.3644 6.33601 8.77246C6.11544 8.50186 5.77565 8.35602 5.42777 8.38391C5.07967 8.41116 4.76692 8.60746 4.59106 8.90914C3.33578 11.0631 2.67216 13.5266 2.67216 16.0331C2.67216 19.447 3.89103 22.6861 6.04412 25.2171C5.38944 24.9904 4.75414 24.707 4.14779 24.3704C3.82226 24.1892 3.42499 24.192 3.10159 24.3774C2.77797 24.5628 2.57508 24.9039 2.56656 25.2767C2.56507 25.3395 2.56507 25.4023 2.56507 25.466C2.56507 30.5618 5.30769 35.1497 9.50082 37.6502C9.14059 37.6142 8.78057 37.5621 8.42289 37.4937C8.05414 37.4233 7.67496 37.5525 7.42629 37.8337C7.17719 38.1148 7.0948 38.5065 7.20955 38.8642C8.76162 43.7099 12.7576 47.2741 17.5884 48.3607C13.5817 50.8702 8.99986 52.1847 4.18995 52.1847C3.18632 52.1847 2.17695 52.1257 1.18908 52.0088C0.698336 51.9505 0.229097 52.2403 0.061968 52.7069C-0.105161 53.1738 0.0719745 53.6944 0.489478 53.962C6.66857 57.9239 13.8134 60.018 21.1511 60.018C35.5761 60.018 44.6 53.2158 49.6299 47.5093C55.902 40.3939 59.4992 30.9757 59.4992 21.6699C59.4992 21.2812 59.4933 20.8886 59.4813 20.4972C61.9559 18.6329 64.0864 16.3765 65.8201 13.7831C66.0835 13.3893 66.0549 12.8687 65.7498 12.5061C65.4452 12.1434 64.9374 12.026 64.5039 12.2181Z"
                                    fill="black"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_13_148">
                                    <rect width="66" height="66" fill="white"
                                    ></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <Logo theme="light" />
</footer>

<style>
    * {
        @apply font-display;
    }

    h4 {
        @apply text-xl !important;
    }

    svg {
        @apply w-10;
    }
</style>
