---
import Logo from "./Logo.astro";
export interface Props {
    home?: boolean;
}
const { home } = Astro.props;
const pathname = new URL(Astro.request.url).pathname.slice(1);
---

<header
    class={`z-20 font-display top-0 w-full left-0 flex sm:justify-between justify-around px-8 py-4 ${
        home ? "absolute" : "relative"
    }`}
>
    <Logo />
    <nav class="sm:relative flex items-center absolute right-0">
        <ul class="hidden gap-4 sm:flex text-xl">
            <li>
                <a
                    class={`${
                        pathname === "" ? "active" : ""
                    } after:bg-black dark:after:bg-white`}
                    href="/">Home</a
                >
            </li>
            <li>|</li>
            <li>
                <a
                    class={`${
                        pathname === "menu" ? "active" : ""
                    } after:bg-black dark:after:bg-white`}
                    href="/menu">Menu</a
                >
            </li>
            <li>|</li>
            <li>
                <a
                    class={`${
                        pathname === "about" ? "active" : ""
                    } after:bg-black dark:after:bg-white`}
                    href="/about">About</a
                >
            </li>
        </ul>
        <div
            class="rotate-90 sm:hidden block text-5xl pt-8 pr-4 cursor-pointer select-none hover:scale-105 transition-all duration-200"
        >
            |||
        </div>
    </nav>
</header>
<style>
    a {
        @apply relative after:absolute after:left-0 after:right-0 after:bottom-0 after:m-auto after:w-0 after:h-1 after:rounded hover:text-blue-500 hover:underline;
    }

    a.active {
        @apply after:w-auto;
    }

    img:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
    }
</style>
